layout {
    pane split_direction="vertical"{  
      pane command="nvim" {
          name "Editor"
          size "65%"
        }
      pane split_direction="horizontal"{
          pane split_direction="vertical" {
            size "20%"
              pane command="cmatrix"{
                  size "15%"
                  name "Code"
                }
              pane {
                  command "tty-clock"
                  args "-s"
                  name "Time"
                }
            }
          pane command="spt"
          pane
        }  
      }
     pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    } 
  }
