layout {
    pane split_direction="vertical"{  
      pane split_direction="horizontal"{
          size "70%"
          pane name="work" {
              size "85%"
          }
          pane name="music" {
              size "15%"
            }
        }
      pane split_direction="horizontal"{
          pane {
            command "tty-clock"
            args "-s"
            name "Time"
            size "20%"
            }
          pane
          pane
        }  
      }
     pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    } 
  }
